@import '../../library';

.curso {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
    // Debug
    // * { outline: 1px solid red; }

    &__logo {
        min-width: 75px;
        min-height: 75px;
        width: 75px;
        height: 75px;
        background-color: $primary-color;

        img {
            width: inherit;
            height: inherit;
            margin: 0; padding: 0;}

    }

    &__desc {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 { 
            font-size: large;
            font-style: italic;
        }

        p { font-size: 1.05rem; }

    }

    &__opc {
        display: flex;
        flex-direction: column;
        justify-content: end;

        &-code{
            color: $secondary-color;
            font-size: x-small;
        }

    }

}
