<h1>
    <small>#</small> Educação
</h1>

<ul class="lista">
    <li class="curso">
        <div class="curso__logo">
            <img src="#" alt="instituicao ">
        </div>
        <div class="curso__desc">
            <h3>Nome do Curso</h3>
            <p>Nome Instituição 1</p>
            <span>00/00/0000 até atualmente</span>
        </div>
        <div class="curso__opc">
            <span class="curso__opc-code">Code ID: hash...asdpoj1jvds-u2jknasf-n$@#)(asawras</span>
        </div>
    </li>
</ul>