<h1>
    <small>#</small> Sobre mim
</h1>

<p>Oi, me chamo Felipe, sou estudante de Engenharia de Software na UNINTER.</p>
<p>Programo desde dos 12 anos, mas apenas em 2021 decidir entrar na faculdade.</p>
<!-- decidi que não seria mais hobbie para virar profissão -->
<!-- — foi quando decidi fazer faculdade na área -->
<p>As primeiras linguagens de programação foram: JS, PHP e C, mas quando entrei na faculdade aprendi Python.</p>
<p>O meu hobbie, atualmente é apenas jogar video-game e assistir séries, mas já pratiquei Boxe, mas tive que parar para focar na faculdade.</p>