@import '../../library';

.menu {
    width: 370px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    background-color: white;

    &__nome {
        text-align: center;
    }
}

@media only screen and (max-width: $min-screen) {
    .menu {
        width: 100%;
    }
}