<h1>
    <small># </small> Portfólio
</h1>

<ul class="lista flex-row flex-wrap gap-4">
    <li *ngFor="let project of projects" class="card">
        <img class="card__image" src="{{ project.img ? project.img : './assets/images/sem_imagem.png' }}" alt="projeto tal">
        <div class="card__infos">
            <h3>{{ project.nome }}</h3>
            <p>{{ project.desc }}</p>
            <ul class="lista gap-2">
                <li *ngFor="let link of project.links" class="link">
                    <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                </li>
            </ul>
        </div>
    </li>
</ul>