@import "bootstrap";
// Debug
// * { outline: 1px solid red; }

.card {
    width: 250px;
    height: 250px;
    display: flex;
    position: relative;

    &__image { width: inherit; height: inherit; }

    &__infos {
        @extend .w-100;
        @extend .h-100;
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .position-absolute;
        @extend .text-center;
        @extend .text-white;
        transition: background-color 200ms ease-out;

        a { @extend .text-white; }

        h3, p, .lista {
            transform: translateY(40px);
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 300ms;
            transition-timing-function: ease-out;
        }

        .link {
            @extend .d-flex;
            @extend .flex-row;
            @extend .flex-wrap;
            @extend .gap-2;
            @extend .text-center;
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: .5);

            h3, p, .lista {
                transform: translateY(0px);
                opacity: 1;
            }

        }

    }

}