@import '../../library';

.menu__links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

    .menu__link {
        width: 220px;
        height: 24px;
        padding: 2px 6px;
        position: relative;
        // Content
        display: flex;
        align-items: center;
        // Style
        border-radius: 5px;
        background-color: $primary-color;
        transition: background-color 200ms;

        .menu__label {
            position: absolute;
            transition: transform 200ms, color 200ms;
        }
        
        .menu__icon {
            width: 20px;
            height: 100%;
            position: absolute;
            right: 0px;
            border-radius: 0 5px 5px 0px;
            // Content
            display: flex;
            align-items: center;
            // Style
            transition: width 200ms,
                        border-radius 100ms,
                        opacity 100ms,
                        transform 100ms;
            opacity: 1;
            transform-origin: right;
            transform: scaleX(0);
            background-color: $secondary-color;
            
            svg { margin-left: 6px; }
        }

        &:hover {
            .menu__icon {
                opacity: 1;
                transform: scaleX(1);
            }
        }

        &:active, &-onpage {
            background-color: transparent;
            
            .menu__label {
                color: white;
                font-weight: 500;
                transform: translateX(20px);
            }

            .menu__icon {
                width: 100%;
                border-radius: 5px;
                opacity: 1;
            }
        }
    }
}

