@import '../library';

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    padding: 25px;
}

.wrapper {
    width: 95%;
    display: flex;
    gap: 15px;
}

.main {
    width: 100%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

@media only screen and (max-width: $min-screen) {
    .wrapper {
        flex-direction: column;
    }
}