.lista {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.just-cont--space-between { justify-content: space-between; }
.just-cont--space-evenly { justify-content: space-evenly; }