@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

$font-stack: "Open Sans", "Arial" !default;
$primary-color: #D9D9D9 !default;
$secondary-color: #A1A1A1 !default;
$tertiary-color: #333333 !default;

$min-screen: 1000px;