@import "bootstrap";
@import 'library';
@import 'app/general.scss';

body {
  font-family: $font-stack;
  color: $tertiary-color;
  font-weight: 400;
  background-color: #bbbbbb;
}

a, a:visited {
  color: $tertiary-color;
  text-decoration: none;
}

a:hover {
  color: $tertiary-color;
  font-weight: 500;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}